<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upay.aso.crawler.dao.RankInfoDao" >
  <resultMap id="BaseResultMap" type="com.upay.aso.crawler.entity.RankInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="taskId" property="taskid" jdbcType="INTEGER" />
    <result column="appID" property="appid" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="rankTime" property="ranktime" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, taskId, appID, keyword, rank, rankTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_capture_rank_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_capture_rank_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.upay.aso.crawler.entity.RankInfo" >
    insert into tbl_capture_rank_info (id, taskId, appID, 
      keyword, rank, rankTime
      )
    values (#{id,jdbcType=INTEGER}, #{taskid,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{rank,jdbcType=INTEGER}, #{ranktime,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="replaceIntoSelective" parameterType="com.upay.aso.crawler.entity.RankInfo" >
    replace into tbl_capture_rank_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskid != null" >
        taskId,
      </if>
      <if test="appid != null" >
        appID,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="ranktime != null" >
        rankTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="ranktime != null" >
        #{ranktime,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.upay.aso.crawler.entity.RankInfo" >
    update tbl_capture_rank_info
    <set >
      <if test="taskid != null" >
        taskId = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        appID = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="ranktime != null" >
        rankTime = #{ranktime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.upay.aso.crawler.entity.RankInfo" >
    update tbl_capture_rank_info
    set taskId = #{taskid,jdbcType=INTEGER},
      appID = #{appid,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      rankTime = #{ranktime,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>